<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Pragprog Books Online Store</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
  <style><%= yield :stylesheets %></style>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">

<!-- START_HIGHLIGHT -->
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "PragmaticBookshelf" %><!-- <label id="code.depot.e.title"/> -->
    <%= link_to(image_tag("cart.png", size:'48x48', :class => "cart_img"), {:controller => :carts, :action => :show, :id => @cart}, remote: true ) %>
    <div id="cart_item_count">
      <% if @cart.total_quantity > 0 %>
        <%= @cart.total_quantity %>
      <% end %>
    </div>

  </div>
  <div id="menus">
     <ul>
        <li>
          <a href="http://www....">Home</a>
          <ul class = "submenu">
            <li><a href="Programmation.html">PROGRAMMATION</a></li>
            <li><a href="Reseautique.html">RÉSEAUTIQUE</a></li>
          </ul>
        </li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
      </ul>
  </div>
 
  <%= hidden_div(id: 'cart') do %>
      <% end %>            
  



<div id="main">
<!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
<!-- END_HIGHLIGHT -->
</body>
</html>
